<div id="sidebar-fluid">
    <div id="sidebar-contents">
        <div id="menu-links">
            <a id="works-id" href="/">Works</a>
            <a id="about-id" href="/about.html">About</a>
            <a id="resume-id" href="/">Resume</a>
            <a id="contact-id" href="/about.html#contact-me">Contact</a>
        </div>
    </div>
</div>
<div id="sidebar-fixed">
    <div id="sidebar-contents">
        <div id="menu-links">
            <a id="works-id" href="/">Works</a>
            <a id="about-id" href="/about.html">About</a>
            <a id="resume-id" href="/">Resume</a>
            <a id="contact-id" href="/about.html#contact-me">Contact</a>
        </div>
    </div>
</div>